[submodule "themes/simplog"]
	path = themes/simplog
	url = https://github.com/michimani/simplog.git
[submodule "themes/noteworthy"]
	path = themes/noteworthy
	url = https://github.com/kimcc/hugo-theme-noteworthy.git
